{% extends 'base.html' %}


{% block my_css %}
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'app01/css/create.css' %}">
{% endblock my_css %}


{% block content %}
    <div class="option row col-md-2 col-md-offset-10">
        <button class="btn btn-primary" id="add">添加</button>
        <button class="btn btn-success" id="save">保存</button>
    </div>
    <form class="main form-horizontal"></form>

{% endblock content %}


{% block my_js %}
    <script src="{% static 'app01/js/create.js' %}"></script>
{% endblock my_js %}