{% extends 'base.html' %}

{% block my_css %}
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'app01/css/edit.css' %}">
{% endblock %}

{% block title %}编辑问卷{% endblock %}

{% block content %}
    <div class="option pull-right">
        <button class="btn btn-success">添加</button>
        <button class="btn btn-primary">保存</button>
    </div>
    <div class="clearfix"></div>

    <form class="form-horizontal" method="post">

        {% for question in question_list %}
            <div class="questionItem">
                <div>问题{{ forloop.counter }}</div>
                <div class="form-group">
                    <label for="question_{{ question.id }}" class="col-md-1 control-label">问题</label>
                    <div class="col-md-6">
                        <input type="text" class="form-control" id="question_{{ question.id }}"
                               value="{{ question.title }}">
                    </div>
                    <span class="glyphicon glyphicon-remove" onclick="del_question({{ question.id }})"></span>
                </div>

                <div class="form-group">
                    <label for="type_{{ forloop.counter }}" class="col-md-1 control-label">类型</label>
                    <div class="col-md-2">
                        <select name="question_types" class="form-control">
                            {% for type in  question.question_types %}
                                {% if question.type == type.0 %}
                                    <option value="{{ type.0 }}" selected>{{ type.1 }}</option>
                                {% else %}
                                    <option value="{{ type.0 }}">{{ type.1 }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    {% if question.type == 2 %}
                        <div class="col-md-2">
                            <a href="javascript:void(0)" onclick="add_question()">
                                <span class="glyphicon glyphicon-plus"></span>
                                <span>添加选项</span>
                            </a>
                        </div>
                        <div class="clearfix"></div>
                        <br>
                        <ul>
                            {% for option in question.option_set.all %}
                                <li>
                                    <span>
                                        <label for="">内容：</label>
                                        <input type="text" value="{{ option.content }}">
                                    </span>
                                    <span>
                                        <label for="">分值：</label>
                                        <input type="text" value="{{ option.value }}">
                                    </span>
                                </li>
                            {% endfor %}
                        </ul>

                    {% endif %}
                </div>
            </div>
        {% endfor %}

    </form>
{% endblock content %}

{% block my_js %}
    <script src="{% static 'app01/js/edit.js' %}"></script>
{% endblock %}